* {
    margin: 0;
    padding: 0;
    font-family: "Archivo", sans-serif;
}

img {
    box-sizing: border-box;
}

// ERROR
.error-message {
    color: #ff0000;
    margin-top: 10px;
}
/////////////////////////////////////////
//NAVBAR
nav {
    display: flex;
    padding: 2rem 3rem 2rem 3rem;
    background-color: transparent;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;

    figure {
        img {
            height: auto;
            width: 250px;
            //add minimum width
        }
    }
    menu {
        display: flex;
        gap: 3rem;
        list-style: none;
        li {
            a {
                text-decoration: none;
                color: inherit;
                font-size: 1.3rem;

                &.active {
                    color: white;
                    border-bottom: 2px solid #de2b52;
                }
            }
        }
        .links {
            display: flex;
            gap: 2rem;
            padding: 1rem 2rem;
        }
        .log-links {
            display: flex;
            gap: 1.5rem;
            li {
                padding: 0.9rem 0.7rem;
                border-radius: 0.5rem;
                border: 1px solid white;
                &:hover {
                    background-color: #de2b52;
                    padding: none;
                }
            }
        }
    }
}
nav.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #b30c30;
    a {
        &.active {
            border-bottom: 2px solid white;
        }
    }
}
///////////////////////////////////////////////
/// HOME
.home {
    padding: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(./images/landing-page.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;

    .home-text {
        text-align: center;
        display: flex;
        width: 52%;
        gap: 4rem;
        .text {
            display: flex;
            flex-direction: column;
            text-align: left;
            justify-content: center;
            width: 56%;
            h1 {
                font-size: 3.5rem;
            }
            p {
                margin-top: 10px;
                font-size: 1.5rem;
            }
        }
        figure {
            img {
                width: 80%;
            }
        }
    }
}

//////////////////////////////////////////////////
//POSTS/USERS/CITIES PAGE
.data {
    .search-filter {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        margin: 3rem;

        .searchBox {
            display: inline-block;
            width: 20%;
            padding: 20px 100px 20px 30px;
            box-shadow: 5px 10px 30px rgba(85 85 85/ 20%);
            border-radius: 0.5rem;
            position: relative;
            .searchInput {
                border: none;
                outline: none;
                font-size: 20px;
                width: 50%;
                padding-right: 60px;
            }
            .search-btn {
                display: flex;
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                gap: 0.5rem;
                .searchButton {
                    outline: none;
                    border: none;
                    padding: 14px 20px;
                    border-radius: 20px;
                    cursor: pointer;
                    font-size: 17px;
                    color: white;
                    transition: background-color 0.3s;
                    &.searchIcon {
                        background-color: #de2b52;

                        &:hover {
                            background-color: #c22546;
                        }
                    }
                    &.resetIcon {
                        background-color: #4a90e2;

                        &:hover {
                            background-color: #3f80d6;
                        }
                    }
                }
            }
        }
    }
    .data-container {
        display: grid;
        margin: 0 auto;
    }
}

.title-text {
    display: flex;
    height: 25vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 3rem 0.5rem 3rem;
    position: relative;
    gap: 1.5rem;
    background-color: black;
    color: white;
    background: url(./images/bgc-img.png);
    background-size: cover;
    background-position: top;

    div {
        text-align: center;
        width: 700px;
    }
}
/////////////////////////////////////
//POST COMPONENT
.post {
    display: flex;
    flex-direction: column;

    .datails-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;
        box-shadow: 5px 10px 30px rgba(90 90 90/ 60%);
        border-radius: 0rem 0rem 1.5rem 1.5rem;
        min-height: 130px;
        .post-write {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        .post-title {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
        .details {
            font-size: 14px;
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
            .city {
                color: #de2b52;
                font-weight: 600;
            }
        }
    }
    figure {
        height: 200px;
        overflow: hidden;
        border-radius: 1.5rem 1.5rem 0 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    a {
        text-decoration: none;
        color: inherit;
    }
}

//POSTS PAGE
.data-container.posts {
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    max-width: 1500px;
    gap: 3.5rem;
    padding: 0rem 2rem 3rem 2rem;

    .posts-data {
        max-width: 500px;
        transition: transform 0.3s ease-in-out;
        &:hover {
            transform: scale(1.05);
        }
    }
}
//SINGLE POST PAGE

.single-data-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/////////////////////////////////////////////
/// USERS PAGE
.data {
    .data-container.users {
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        max-width: 1200px;
        gap: 3.5rem;
        padding: 0rem 2rem 3rem 2rem;
    }
}
/// USER COMPONENT
.user {
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    padding: 2rem;
    box-shadow: 5px 10px 30px rgba(90 90 90/ 60%);
    max-width: 200px;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    &:hover {
        transform: scale(1.05);
    }
    figure {
        width: 150px;
        height: 150px;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 50%;
        top: -40px;
        border: 2px solid #de2b52;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    .name {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        > span:first-child {
            font-size: 20px;
            font-weight: 600;
        }
    }
    a {
        text-decoration: none;
        color: inherit;
    }
}
//SINGLE POST PAGE
.single-data-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

//////////////////////////////////////////
/// USER SETTINGS
.user-settings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    max-width: 1200px;
    gap: 3.5rem;
    padding: 0rem 1rem 3rem 2rem;
    margin: 3rem auto;

    .user-data {
        display: flex;
        flex-direction: column;
        box-shadow: 5px 10px 30px rgba(85 85 85/ 20%);
        border-radius: 1.5rem;
        gap: 2rem;
        padding: 1.5rem;
        align-items: center;
        figure {
            max-width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 2px solid #de2b52;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        .data {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
        .bio {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .title-text {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
    }
    .user-data.posts {
        display: flex;
        align-items: center;

        .data {
            gap: 1rem;
            padding: 1rem;
            border-radius: 1.5rem;
            box-shadow: 5px 10px 30px rgba(85 85 85/ 20%);
            .user-post {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
    }
}

.btn-container {
    display: flex;
    gap: 1rem;
    .btn {
        width: 80px;
        background-color: #de2b52;
        color: white;
        border: none;
        padding: 0.5rem;
        font-size: 16px;
        border-radius: 0.4rem;
        cursor: pointer;
    }
    .btn.blue {
        background-color: #4a90e2;
    }
}

.user-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

//FORM SIGN-UP - eliminate
// .form {
//     display: flex;
//     justify-content: center;
//     form {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         gap: 1.5rem;
//         padding: 2rem 0 2rem 0;
//         margin: 2rem 0 2rem 0;
//         border: 0.2rem solid #de2b52;
//         border-radius: 1rem;
//         width: 500px;
//         h1 {
//             color: #de2b52;
//         }
//         span {
//             font-weight: 600;
//             color: #705555;
//         }
//         button {
//             width: 80px;
//             background-color: #de2b52;
//             color: white;
//             border: none;
//             padding: 0.5rem;
//             font-size: 16px;
//             border-radius: 0.6rem;
//         }
//         div {
//             display: flex;
//             flex-direction: column;
//             gap: 0.5rem;
//             input {
//                 width: 200px;
//             }
//         }
//     }
// }

//LOG IN / SIGN- UP / FORM PAGE
.form-container-new {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;

    .form-new {
        border-radius: 10px;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
        width: 400px;
        background-color: white;
        padding: 2rem;

        form {
            display: flex;
            flex-direction: column;

            .data-input {
                margin: 10px 0;
                padding: 12px;
                border: 1px solid #ccc;
                border-radius: 4px;
                outline: none;
                width: -webkit-fill-available;
            }

            .city {
                display: flex;
                gap: 0.5rem;
                .add-city {
                    padding: 10px;
                    background-color: #4a90e2;
                    color: #fff;
                    font-size: 16px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    margin: 10px 0;
                    width: 180px;
                }
            }

            button {
                margin-top: 10px;
                padding: 10px;
                background-color: #de2b52;
                color: #fff;
                font-size: 16px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }

            .not-member {
                text-align: center;
                padding: 10px;
                font-size: 14px;
                color: #555;
            }

            a {
                color: #de2b52;
                text-decoration: none;
                font-weight: bold;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .username {
            margin: 1rem;
            font-size: 18px;
            display: flex;
            justify-content: center;
        }
    }
}
//////////////////////////////////////////
/// MODAL
.modal-container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}

// .error {
//     color: #de2b52;
//     background-color: rgba(222, 43, 82, 0.3);
//     padding: 0.7rem;
//     width: 80%;
//     border-radius: 0.7rem;
// }

////////////////////////////////////////////////////////
/// CITIES PAGE
.data-container.cities {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    max-width: 1200px;
    gap: 3.5rem;
    padding: 0rem 0rem 3rem 0rem;

    .cities {
        position: relative;
        border-radius: 1.5rem;
        height: 250px;
        width: 250px;
        overflow: hidden;
        box-shadow: 5px 10px 30px rgba(90 90 90/ 60%);
        transition: transform 0.3s ease-in-out;
        &:hover {
            transform: scale(1.05);
        }

        figure {
            position: relative;
            height: 100%;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3);
            text-align: center;
            align-items: center;
            box-sizing: border-box;
            font-size: 2rem;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
